::selection{
  background-color: initial;
}

html{
  background: linear-gradient(233.14deg, #3FA7A7 0%, #197473 100%);
}

*:hover{
  cursor: default;
}

body{
  background: linear-gradient(233.14deg, #3FA7A7 0%, #197473 100%);
  font-family: "Futura", "IBM Plex Sans", sans-serif;
}

.container{
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  animation: fade-in 1s cubic-bezier(0,.25,.25,1);
}

.container_graph{
  /* border: 1px solid red; */
  height: 75%;
  width: 100%;
  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}

.graph{
  max-height: 100%;
  max-width: 100%;
  /* border: 1px solid red; */

  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 44px rgba(245, 245, 245, 0.3);
  background-color: #efefef;
}

#google-charts-container>div{
  animation: animateGraph 1s ease-in-out;
  -webkit-animation: animateGraph 1s ease-in-out;
}


.container_presence{
  /* border: 1px solid red; */
  height: 25%;
  width: 100%;
  display: flex;
  padding: 0px 60px;

  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.container_presence .item{
  color: #fff;
  flex-wrap: wrap;
}

.container_presence .item:first-child{
  margin-right: 60px;
  width: 60%;
}

.container_presence .item h1{
  font-size: 36px;
}

.container_presence .item p{
  font-size: 24px;
  margin-top: 6px;
  opacity: .7;
  font-weight: 200;
  line-height: 1.2;
  margin-top: 16px;
}

.container_presence .person{
  border: 1px solid white;
  padding: 22px 40px;
  font-size: 26px;
  border-radius: 2px;
  flex-grow: 1;
  margin-left: 10px;
  margin-bottom: 10px;
  /* margin-right: 20px; */

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: all .5s ease-in-out;
}

.container_presence .guests{
  border: 1px solid white;
  padding: 22px 40px;
  font-size: 26px;
  border-radius: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-left: 10px;
  margin-bottom: 10px;

  transition: all .5s ease-in-out;
}

.guests-btns{
  display: flex;
}

.container_presence .guests-btns .btn{
  cursor: pointer;
}

.btn_presence .active{
  background-color: #fff;
  color: #197473;
  box-shadow: 0px 2px 44px rgba(245, 245, 245, 0.3);
}

.btn_presence .active .btn{
  color: #FFF;
  background: linear-gradient(233.14deg, #3FA7A7 0%, #197473 100%);
}

.btn_presence:last-child{
  display: flex;
}

.btn_presence:last-child span{
  margin-left: 10px;
}

.btn_presence .btn{
  border: 1px solid white;
  border-left: none;
  width: 70px;
  height: auto;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease-in-out;
}

.btn_presence>div{
  /* background-color:#fff; */
}


/* ATTEMPT AT EDITING AN EMBEDDED HTML PAGE */

/* .trace5211b411-155e-41e4-9be6-581a0e1e841f > .lines > path{
  stroke: rgb(41,136,136) !important;
} */



/* The Modal (background) */
#feedbackModal {
  display: none; /* Hidden by default */
  /* display: block; */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#feedbackModal.show{
  display: block;
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fade-modal-in 0.5s, fade-modal-out 0.5s 2.5s;
  animation: fade-modal-in 0.5s, fade-modal-out 0.5s 2.5s;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 100px auto; /* 15% from the top and centered */
  padding: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content h2{
  margin-top: 6px;
  /* margin-bottom: 20px; */
  font-size: 32px;
  text-align: center;
}

.modal-content p{
  text-align: center;
  font-size: 26px;
  font-weight: lighter;
  opacity: .5;
  margin-top: 10px;
  margin-bottom: 40px;
}

/* Selector for 'ik geef hier liever geen antwoord op' */
.modal-content p:last-child{
  margin-top: 40px;
  margin-bottom: 0px;
}

.modal-content p:last-child:active{
  color: #197473;
  opacity: 1;
}

.modal-content ul{
  display: flex;
  background-color: #e3f1f0;
  padding: 40px;
}

.modal-content li{
  justify-content: space-between;
  flex: 1;
  text-align: center;
  padding: 20px;
  font-size: 28px;
  color: #016563;
  background-color: #fff;
  margin-left: 20px;
  border-radius: 2px;
  box-shadow: 0px 3px 21px rgba(32, 90, 89, .2);

  /* UNCOMMENT IF USING EMOJIS */
  padding-top: 30px;
  font-size: 48px;
}

.modal-content li:first-child{
  margin-left: 0px;
}

.modal-content li:active{
  background-color: #016563;
  color: #fff;
}

#snackbar{
  visibility: hidden;
  min-width: 380px; /* Set a default minimum width */
  margin-left: -190px; /* Divide value of min-width by 2 */
  background-color: #FFFFFF;
  font-size: 22px;
  color: #333;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 2px 20px rgba(0,0,0,.2);
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fade-snackbar-in 0.5s, fade-snackbar-out 0.5s 2.5s;
  animation: fade-snackbar-in 0.5s, fade-snackbar-out 0.5s 2.5s;
}

.container_graph{
  /* background-color: #fff; */
}

.container_graph_container{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 44px rgba(245, 245, 245, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_graph_container h2{
  text-align: center;
  margin-top: 60px;
  font-size: 36px;
  color: #333;
  animation: animateGraph 2.5s ease-in-out;
  -webkit-animation: animateGraph 2.5s ease-in-out;
}

#google-charts-container{
  width: 100%;
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fade-snackbar-in {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fade-snackbar-in {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fade-snackbar-out {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fade-snackbar-out {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

/* —————————————————————————————————————— */

@-webkit-keyframes fade-modal-in {
  from {transform: translateY(-100px); opacity: 0;}
  to {transform: translateY(0px);    opacity: 1;}
}

@-webkit-keyframes fade-modal-out {
  from {transform: translateY(0px);    opacity: 1;}
  to {transform: translateY(-100px); opacity: 0;}
}

@keyframes fade-modal-in {
  from {transform: translateY(-100px); opacity: 0;}
  to {transform: translateY(0px);    opacity: 1;}
}

@keyframes fade-modal-out {
  from {transform: translateY(0px);    opacity: 1;}
  to {transform: translateY(-100px); opacity: 0;}
}


@keyframes fade-in{
  0%    { transform: translateY(50px) scale(.9); opacity: 0; }
  100%  { transform: translateY(0px) scale(1)   ; opacity: 1; }
}

@keyframes animateGraph{
  from {opacity:0}
  to {opacity:1}
}
